  <div class="contents row" >
    <p><%= @nickname %>'s Posting</p>
    <% @posts.each do |post| %>
      <div class="content_post" style="background-image: url(<%= post.movie_link %>);">
        <%= simple_format(post.text) %>
        <span class="name"><%= post.title %></span>
      </div>
    <% end %>
    <%= paginate(@posts) %>
  </div>